/*
Author: Monika Meyers Related sheet: index.html
*/

.mainSection{
    margin: auto;
    max-width: 65%;
    background-color: #1753ac;
}

body{
    background-color: #2d8dfa;
    font-family: 'Comfortaa', cursive;
    
}

header{
    padding: 5%;
    color: white;
}

main{
    background-color: #98c7fc;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15px;
    font-family: 'Montserrat', sans-serif;
}

a.assignmentlink:link, a.assignmentlink:visited{
    color: black;
}

footer{
    padding: 4%;
    text-align: center;
    color: white;
}

a.footerlink:link, a.footerlink:visited{
    color: white;
}

.lastmodified{
    padding: 4%;
    font-size: 0.9rem;
}

.headShot{
    width: 37%;
    height: auto;
    float: right;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1{
    text-align: center;
    padding: 22px;
}