body {
	background-color: #839788;
	padding: 0;
	margin: 0;
}

header {
	max-width: 1000px;
	margin:auto;
	background-color:#BFD7EA;
	padding: 5px 0;
	display: flex;
	align-items:center;
	justify-content:center;
}

header img {
	width: 80px;
	height: auto;
}

.headings {
	display: flex;
	flex-direction: column;
}

.headings h1 {
	font-size: 1.6rem;
	margin: 0 0 0 17px;
}

.m {
	font-style: italic;
	letter-spacing: 1pt;
	color: #000000;
	margin-left: 20px;
	font-size: .9rem;
	padding-top: 10px;
}

nav {
	margin: 0 auto;
	max-width: 1000px;
	background-color: #BAA898;
	padding: 2.5px;
	font-weight: bold;
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: #000000;
	font-weight: 700;
	transition: 0.5s;
}
.navigation a:hover {
	background-color: #EEE0CB;
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: block;
}

/*main*************/
h2{
	text-align: center;
	font-weight: bold;
}
.placeholder{
	max-width: 850px;
	background-color: #BAA898;
	border: 1px solid;
	margin: 10px auto;
	padding: 10px;
}

/*footer*************/
footer {
	max-width: 1000px;
	margin:auto;
	background-color:#BFD7EA;
	padding: 5px 0;
	align-items:center;
	justify-content:center;
	text-align: center;
}

/*text*************/
h1{
	font-family: 'Permanent Marker', cursive;
	text-shadow: 2px 2px #839788;
}
h2{
	font-family: 'Permanent Marker', cursive;
	text-shadow: 1px 1px #EEE0CB;
}
body{
	font-family: 'Hind Madurai', sans-serif;
}