/*
Author: Monika Meyers Related sheet: index.html
*/

@media only screen and (min-width: 60em){

    h1, h2 {
        max-width: 980px;
    }

    figure.gallery{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    /*.navlist li { 
        font-size: 1.5rem;
    } */

}