body{
    background-color: #36817B;
    color: #F4E8C1;
    text-align: center;
}

h1{
    font-family: 'Walter Turncoat', cursive;
    font-size: 2.5rem;
}

div{
    margin: auto;
    padding: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

picture img[data-src] {
    filter: blur(0.2em);
}

picture img {
    margin: 1% auto;
    filter: blur(0em);
    transition: filter 0.5s;
}