        /*
Author: Monika Meyers Related sheet: index.html
*/

@media only screen and (min-width: 37.5em){


       /* nav ul { display: flex; }
		nav ul li { flex: 1 1 100%; }*/

        .navlist {
            display: flex;
            align-items: center;
        }
        .navlist li {
            display: block; 
            flex: 1 1 auto;
            font-size: 1.4rem;
        }
        .navlist a { 
            text-align: center;
        }
        .navlist li:first-child {
            display: none;
        }

        header{
            max-width: 1000px;
        }
        
        h1 {
            font-size: 2rem;
        }
        /* h3{
            font-size: 1.2rem;
        } */

        .motto {
            letter-spacing: 1.5pt;
            font-size: larger;
        }

        .logo {
            float: left;
            
        }
        
        .weatsum h3 {
            font-size: 1.2rem;
        }

        .weatsum{
            top: 30px;
            left: 30px;  
            max-width: 100%;
            font-size: 1rem;                    
        }
        .weatsum{
            text-align: left;
            padding: 5px;
            position: absolute;
            top: 20px;
            left: 20px;
            opacity: .85;
            max-width: 60%;
            font-size: .75rem;    
        }
        /* Town events  */

        div.home {
            display: grid;
            grid-template-columns: 1.5fr 1fr;
            max-width: 980px;
            margin: auto;
        }
        
        .eBoard h3 {
            font-size: 1.2rem;
        }

        /* .eBoard{
            max-width: 90%;  
        } */

        .homeAction h3 {
            font-size: 1.2rem;
        }

        .homeAction{
            text-align: left;
            padding: 5px;
            position: absolute;
            opacity: .85;  
            top: 10px;
            left: 20px;  
            max-width: 90%;
            font-size: 1rem;                    
        }

        /* home town info*/

        /* div.townCards {
            max-width: 980px;
        } */
        .gridengage section {
            max-width: 400px;
            margin: 10px;
        }

        div.gridengage {
            grid-template-columns: 1fr 1fr;
        }
        /* page articles */

        .article{
            max-width: 980px;
        }

        .article img{
            float: left;
            max-width: 50%;
            margin: 5px 20px 5px 10px;;
        }

        .lastTime {
            font-size: 1.3rem;
        }

        h2.gal {
            font-size: 2.3rem;
        }
    

        .gallery{
            grid-template-columns: 1fr 1fr;
        }




        .social{
            text-align: left;
        }

        .social img {
            max-width: 30px;
            padding: 20px;
        }

        .footlinks{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .contactinfo {
            /* display: grid;
            grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr; */
            text-align: left;
            margin: auto;
        }



        div.contactus, div.memberapp{
            text-align: left;
            grid-template-columns: 1fr 1fr;
    
        }
        
/* comment */
}