        /*
Author: Monika Meyers Related sheet: index.html
*/

@media only screen and (min-width: 37.5em){


        header.home {
            flex-wrap: nowrap;
            margin: auto auto auto 20px;
            justify-content: flex-start;
        }

        .navlist {
            display: flex;
            align-items: center;
        }
        .navlist li {
            display: block; 
            flex: 1 1 auto;
            font-size: 1.4rem;
        }
        .navlist a { 
            text-align: center;
        }
        .navlist li:first-child {
            display: none;
        }
        
        h1 {
            font-size: 2rem;
        }
        /* h3{
            font-size: 1.2rem;
        } */

        .motto {
            letter-spacing: 1.5pt;
            font-size: larger;
        }

        .logo {
            float: left;
            
        }

        .wide {
            margin-left: 50px;
            display: block;
            border-radius: 10px;
            border: solid  1px var(--light);

        }

        .wide h2 {
            font-size: 1.2rem;
            margin: auto;
            padding: 4px;
            border-bottom: solid 1px var(--light);
        }
        .weatinfo{
            display: flex;
            flex-direction: row;
            margin: auto 10px;
        }

        .weatinfosm{
            display: none;
        }

        .weaticon {
            max-width: 10%;
            padding: 0px;
            margin: auto 5px;
        }

        .weatsum{
            top: 30px;
            left: 30px;  
            max-width: 100%;
            font-size: 1rem;                    
        }
        .weatsum{
            display: none;
            text-align: left;
            padding: 5px;
            position: absolute;
            top: 20px;
            left: 20px;
            opacity: .85;
            max-width: 60%;
            font-size: .75rem;    
        }
        /* Town events  */

        div.home {
            display: grid;
            grid-template-columns: 1fr 1fr;
            max-width: 980px;
        }
        
        .eBoard h3 {
            font-size: 1.2rem;
        }

        /* .eBoard{
            max-width: 90%;  
        } */

        .homeAction h3 {
            font-size: 1.2rem;
        }

        .homeAction{
            text-align: left;
            padding: 5px;
            position: absolute;
            opacity: .85;  
            top: 10px;
            left: 20px;  
            max-width: 90%;
            font-size: 1rem;
            margin: 10px auto;                    
        }

        .heropic {
            margin: 10px auto;
        }

        /* home town info*/
        div.townCards {
            max-width: 980px;
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
        }
        .gridengage section {
            max-width: 400px;
            margin: 10px;
        }

        div.gridengage {
            grid-template-columns: 1fr 1fr;
        }
        /* page articles */

        .harticle img{
            float: left;
            max-width: 50%;
            margin: 5px 20px 5px 10px;;
        }

        .article img{
            float: left;
            max-width: 50%;
            margin: 5px 20px 5px 10px;;
        }

        .lastTime {
            font-size: 1.3rem;
        }

        h2.gal {
            font-size: 2.3rem;
        }
    

        .gallery{
            grid-template-columns: 1fr 1fr;
        }




        .social{
            text-align: left;
        }

        .social img {
            max-width: 30px;
            padding: 20px;
        }

        .footlinks{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .contactinfo {
            /* display: grid;
            grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr; */
            text-align: left;
            margin: auto;
        }



        div.contactus, div.memberapp{
            text-align: left;
            grid-template-columns: 1fr 1fr;
    
        }
        
/* comment */
}