        /*
Author: Monika Meyers Related sheet: index.html
*/

@media only screen and (min-width: 37.5em){


        nav ul { display: flex; }
		nav ul li { flex: 1 1 100%; }

        header{
            max-width: 1000px;
        }
        
        h1 {
            font-size: 4rem;
        }

        .logo {
            float: left;
            
        }
}